body {
    cursor: url('/default.gif'), default;
    margin: 60px auto;
    width: 70%;
    background: #000000
}

nav ul, footer ul {
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    padding: 0px;
    list-style: none;
    font-weight: bold;
    color: #fff;
}
nav ul li, footer ul li {
    display: inline;
    margin-right: 20px;
    color: #fff;
}
a {
    text-decoration: none;
    color:aqua;
}
a:hover {
    text-decoration: underline;
    color:pink;
}
h1 {
    font-size: 3em;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    color: #fff;
}
h2 {
    color:white;
}
h3 {
    color:white;
html {
    cursor: url('/default.gif'), default;
}
p {
    font-size: 1.5em;
    line-height: 1.4em;
    color: #fff;
}
footer {
    border-top: 1px solid #d5d5d5;
    font-size: .8em;
}

ul.posts { 
    margin: 20px auto 40px; 
    font-size: 1.5em;
    color: #fff;
}

ul.posts li {
    list-style: none;
    color: #fff;
}
