body {
    cursor: url('/default.gif'), default;
    margin: 60px auto;
    width: 70%;
    background: #000000
}

nav ul, footer ul {
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    padding: 0px;
    list-style: none;
    font-weight: bold;
    color: white;
}
nav ul li, footer ul li {
    display: inline;
    margin-right: 20px;
    color: white;
}
a {
    text-decoration: none;
    color:aqua;
    cursor: url("/pointer.gif"), pointer;
}
a:hover {
    text-decoration: underline;
    color:pink;
    cursor: url("/pointer.gif"), pointer;
}
h1 {
    font-size: 3em;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    color: white;
}
h2 {
    color:white;
}
h3 {
    color:white;
}
p {
    font-size: 1.5em;
    line-height: 1.4em;
    color: white;
}
footer {
    border-top: 1px solid #d5d5d5;
    font-size: .8em;
}

ul.posts { 
    margin: 20px auto 40px; 
    font-size: 1.5em;
    color: white;
}

ul.posts li {
    list-style: none;
    color: white;
}

.row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
}

/* Create two equal columns that sits next to each other */
.column {
  flex: 50%;
  padding: 0 4px;
}

.column img {
  margin-top: 8px;
  vertical-align: middle;
}
 
.flex-container {
  display: flex;
  flex-flow: row wrap;
  padding:120px;  
}
