<!DOCTYPE html>
<html>
<html lang="en-us">
	<head>
		<title>{{ page.title }}</title>
		<meta name="description" content="Hayden White's personal site.">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta property="og:image" content="https://pixelfed-prod.nyc3.digitaloceanspaces.com//public/m/_v2/496668004746817311/a48ad3dc0-89cf68/QuiOp0J2d16u/CvrdSMv7RKcaromPChkcY0O4zqGHfv9WwwM2NkdQ.jpg">
		<meta property="og:image:width" content="260">
		<meta property="og:image:height" content="165">
    		<meta charset="utf-8">
		<link rel="shortcut icon" href="/favicon.gif" type="image/gif">
		<link rel="stylesheet" href="/css/main.css"
	</head>
	<body>
		<style>
.button {
  background-color: #000000;
  border: none;
  color: aqua;
  padding: 16px 32px;
  text-align: center;
  font-size: 16px;
  margin: 4px 2px;
  opacity: 0.6;
  transition: 0.2s;
  display: inline-block;
  text-decoration: none;
  cursor: pointer;
}

.button:hover {
  opacity: 1;
  border-radius: 25px;
  border: 2px solid #FF69B4;
}
.img-right {
	float: right
}
.img-left {
	float: left
}
.img-center {
	float: center;
	width: 40%;
}
aside {
  width: 30%;
  padding-right: 30px;
  margin-left: 0px;
  float: left;
}
div.sticky {
  position: sticky;
  top: 0;
  border: 2px solid #4CAF50;
}
.wrapper {
  display: flex;
}

.main,
.sidebar {
  padding: 15px;
}

.main {
  width: %;
  
}

.sidebar {
  height: 39vh;
  margin-left: -200px;
}
		</style>
		<nav>
    		<ul>
			<li><button class="button"><a href="/" title="Hayden White's personal site">main</a></button></li>
			<li><button class="button"><a href="/about" title="About Hayden White">about</a></button></li>
			<li><button class="button"><a href="/music" title="Hayden White's music">music</a></button></li>
	    <li><button class="button"><a href="/articles" title="Hayden White's posts">posts</a></button></li>
			<li><button class="button"><a href="/based" title="be based.">be based.</a></button></li>
      <li><button class="button"><a href="/kaarbs" title="kojiros automated arch ricing bash script">kaarbs</a></button></li>
      <li><button class="button"><a href="/undo" title="222">undo</a></button></li>
			<li><button class="button"><a href="/contact" title="email me!">contact</a></button></li>
			<div class="img-right"><li><img src="https://pixelfed.social/storage/m/_v2/496668004746817311/a48ad3dc0-89cf68/twniC3aSaA3V/P6WcDWQ37f4XqgDhy2Faw8tScTBBEgk13yPUHrru.gif" title="e n j o y  y o u r  s t a y" width="55" height="78"></div></li>
    		</div>
		</ul>
		</nav>
		<div class="wrapper">
		<div class="sidebar" style="position: sticky; top: 0;">
      <ul>
	<li><p title="index" style="font-size:80%"><b><ins>インデックス</ins></b></p></li>
        <li><a href="/" title="Hayden White's personal site">&#x2022; main</a></li>
	<li><a href="/about" title="About Hayden White">&#x2022; about</a></li>
	<li><a href="/music" title="Hayden White's music">&#x2022; music</a></li>
	<li><a href="/music/cassettes" title="Hayden White's cassette releases">&#x2022; tapes</a></li>
	<li><a href="/articles" title="Hayden White's posts">&#x2022; posts</a></li>
	<li><a href="/based" title="be based.">&#x2022; based</a></li>
        <li><a href="/kaarbs" title="kojiros automated arch ricing bash script">&#x2022; kaarbs</a></li>
        <li><a href="/undo" title="222">&#x2022; undo</a></li>
	<li><a href="/contact" title="email me!">&#x2022; contact</a></li>
      </ul></div>
		<div class="main">
	    {{ content }}
			</div>
</div>
</div><!-- /.container -->
			<footer>
	    <p><small><b>Copyright (c) 2022 Hayden White</b></small></p>
	    <ul>
	    <li><img src="https://pixelfed.social/storage/m/_v2/496668004746817311/a48ad3dc0-89cf68/6o9y3HnTWAgo/uLRy90hoXHei8Sl7KbLvUONTsjSlvcC8KLWp4mNv.gif" title="This site is Miku approved!" alt="This site is Miku Approved!"></li>
	    <li><a href="https://haydenwhite.bandcamp.com" target="_blank" rel="noopener noreferrer" title="white VHS bandcamp"><img alt="official bandcamp" src="https://pixelfed-prod.nyc3.digitaloceanspaces.com//public/m/_v2/496668004746817311/a48ad3dc0-89cf68/QuiOp0J2d16u/CvrdSMv7RKcaromPChkcY0O4zqGHfv9WwwM2NkdQ.jpg" width="61" height="34" /></a></li>
      	    <li><a href="https://github.com/whiteVHS/whiteVHS.github.io/" target="_blank" rel="noopener noreferrer" title="Website Source Code"><img alt="source code" src="https://pixelfed.social/storage/m/_v2/496668004746817311/a48ad3dc0-89cf68/m7mVgieBMZhl/hUbMEFDMvBfDLGoqJ8mibYitVD2ZwSiteAxguStT.jpg" width="55" height="54" /></a></li>
      	    <li><a href="http://www.gnu.org/" target="_blank" rel="noopener noreferrer" title="The GNU Project"><img alt="GNU" src="https://pixelfed.social/storage/m/_v2/496668004746817311/a48ad3dc0-89cf68/698vcHOFapCx/zyU9jPVddpN2wRFM0dvE48p3FG9eRFv240Ij9S6j.png" width="52" height="49" /></a></li>
	    <li><img src="https://pixelfed.social/storage/m/_v2/496668004746817311/8d46c944c-26de5d/CzhEupiLnF6w/F0JUboZoxMnBSkpElTTiYPcj59wMcNkgNpcwxzcz.gif" title="Google Chrome IS EVIL!"></li>
	    <li><img src="https://pixelfed.social/storage/m/_v2/496668004746817311/8d46c944c-26de5d/nEBoSUQvXbUK/SZp63NjQIbxAarjn3TSqOzla3iI1lcMxtngDfwx6.gif" title="Windows 10 - NO!"></li>
	    <li><img src="https://pixelfed.social/storage/m/_v2/496668004746817311/8d46c944c-26de5d/Rjlcjhn1UDc8/tfapGMYUPsenhW9jWmFeNBfQOCYRnN5SoluiBUfe.gif" title="Fuck Off Google!"></li>
	    <li><img src="https://pixelfed.social/storage/m/_v2/496668004746817311/8d46c944c-26de5d/GX1lihhj9y0c/Yoy72l4lYlzIGaVxrlnA5yploCmN0oQQkYAtwj0G.gif" title="Internet Privacy Now!"></li>
  	    <li><img src="https://pixelfed.social/storage/m/_v2/496668004746817311/8d46c944c-26de5d/w5ePgQ4ZOa0t/QYkwQlbTqjc79s1QrMpwic0vaGCuHI52LZRCTGBe.gif" title="Sharing is caring!"></li>
	    <li><img src="https://pixelfed.social/storage/m/_v2/496668004746817311/8d46c944c-26de5d/hS4r0Gx8JMkd/ke9yahJzZvkU1IhZXAXXQTgWf6rFb54WtdzJp0YX.gif" title="Discord Fucking Sucks"></li>
	    <li><img src="https://pixelfed-prod.nyc3.digitaloceanspaces.com/public/m/_v2/496668004746817311/8d46c944c-26de5d/kFhFGdQrfCOu/fCARSEo1OHD9pZQGHMPdzQvxuYVjjqB0RNcmn12Z.png" title="Fuck Facebook"></li>
	    <li><img src="https://pixelfed.social/storage/m/_v2/496668004746817311/8d46c944c-26de5d/uRZzQSI0oSU7/dZ43C3JZZJFpTCuMwMSh7ZhyDAhm7ECkkZKIa1em.gif" title="Don't be a phone chump!"></li>
	    <li><img src="https://pixelfed.social/storage/m/_v2/496668004746817311/8d46c944c-26de5d/KkWF3gc1ynIr/xpnVxPkLTsSWcVfc9D4cGT8KLHUt7ZozsIzKpbzo.png" title="Bookmark this page now!"></li>
				</ul>
			</footer>
		</body>
	</html>

