<!DOCTYPE html>
<html>
	<head>
		<title>{{ page.title }}</title>
    		<link rel="shortcut icon" href="/favicon.gif" type="image/gif">
		<link rel="stylesheet" href="/css/main.css"
	</head>
	<body>
		<nav>
    		<ul>
        		<li><a href="/">Home</a></li>
	        	<li><a href="/about">About</a></li>
        		<li><a href="https://github.com/basedghost/kaarbs/">KAARBS</a></li>
        		<li><a href="/blog">Blog</a></li>
    		</ul>
		</nav>
		<div class="container">
    
    {{ content }}
     
</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="mailto:whitevhs.rocktron@simplelogin.com">contact via email</a></li>
            <li><a href="https://github.githubassets.com/images/modules/logos_page/Octocat.png" title="source code"><img alt="source" src="https://github.githubassets.com/images/modules/logos_page/Octocat.png" width="89" height="82" /></a>
            <li><a href="http://www.gnu.org/" title="The GNU Project"><img alt="GNU" src="https://www.gnu.org/graphics/heckert_gnu.big.png" width="89" height="82" /></a>
				</ul>
			</footer>
		</body>
	</html>
