<!DOCTYPE html>
<html>
	<head>
		<title>{{ page.title }}</title>
    		<link rel="shortcut icon" href="/favicon.gif" type="image/gif">
		<link rel="stylesheet" href="/css/main.css"
	</head>
	<body>
		<nav>
    		<ul>
        		<li><a href="/">main</a></li>
	        	<li><a href="/blog">posts</a></li>
			<li><a href="mailto:whitevhs.rocktron@simplelogin.com">contact</a></li>
        		<li><a href="https://github.com/basedghost/kaarbs/">kaarbs</a></li>
        		<li><a href="https://undo222.bandcamp.com/">undo</a></li>
    		</ul>
		</nav>
		<div class="container">
    
    {{ content }}
     
</div><!-- /.container -->
			<footer>
	    		<ul>
	    <li><a href="https://haydenwhite.bandcamp.com" title="white VHS"><img alt="bandcamp" src="https://64.media.tumblr.com/a15f71ce5371c3df576cf1b4c498c1be/8c1923369cd1bbd9-00/s540x810/dce136d274a2b3f2af9147d9252284aba73f68a2.pnj" width="62" height="42" /></a>
            <li><a href="https://github.com/whiteVHS/whiteVHS.github.io/" title="Source Code"><img alt="source" src="https://github.githubassets.com/images/modules/logos_page/GitHub-Mark.png" width="51" height="54" /></a>
            <li><a href="http://www.gnu.org/" title="The GNU Project"><img alt="GNU" src="https://www.gnu.org/graphics/heckert_gnu.big.png" width="52" height="49" /></a>
				</ul>
			</footer>
		</body>
	</html>
